<!-- copio todo el html de base -->
{% extends 'basebs.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- invoco block title -->
{% block title %}
<!-- para agregar "Productos" al titulo del padre -->
    {{ super() }} - Productos
{% endblock %}
{% block content %}

<h2>PRODUCTOS</h2>

<form action="{{ url_for('productos') }}" method='POST'>
    CATEGORIA: <select name="categoria" id="" onchange="this.form.submit()">
      <option value=0>TODOS</option>
      {% for categoria in dataCategoria %}
          {% set miselected = '' %}
          {% if(catId|int == categoria.0|int ) %}
              {% set miselected = 'selected' %}
          {% endif %}
      <option value="{{ categoria.0 }}" {{miselected}} >{{ categoria.1 }}</option>
      {% endfor %}
    </select>
</form>

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CATEGORIA</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">MARCA</th>
        <th scope="col">PRECIO</th>
        <th scope="col">STOCK</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for d in dataProducto %}
      <tr>
        <th scope="row"> {{ d.0 }} </th>
        <td>{{ d.1 }}</td>
        <td>{{ d.2 }}</td>
        <td>{{ d.3 }}</td>
        <td>{{ d.9 }}</td>
        <td>{{ d.10 }}</td>
        <td><a href="{{ url_for('productos') }}?pid={{ d.0 }}"> <button class="btn btn-success"> EDITAR </button> </a></td>
        <td>
          <form action="{{ url_for('eliminarProducto') }}" method="POST">
            <input type="hidden" name="eid" value="{{ d.0 }}" />
            <input type="submit" value="ELIMINAR" class="btn btn-danger"/>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>NUEVO PRODUCTO</h2>
  <div class="container">
    {{ wtf.quick_form(frmProducto) }}
  </div>

{% endblock %}